

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Helvetica , sans-serif;
  font-weight: 700;
  line-height: 1.8;
  background: #ddd;
  color: #333;
}

ul {
  list-style: none;
  padding: 2rem;
}

a {
  text-decoration: none;
}

li {
  padding: 1rem ;
}

.text-large {
  font-size: 3rem;
}

.text-primary {
  color:  rgb(160, 180, 233);
}

.text-secondary {
  color: rgb(165, 30, 165);
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 5rem;
  background: #ddd;
  display: flex;
  justify-content:space-between ;
  align-items: center;
}

#nav-bar .logo {
  display: flex;
  text-align: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 1rem 0 1rem 1rem;
}

#nav-bar .logo i {
  color: rgb(39, 79, 190);
}

#nav-bar .logo p {
  text-align: center;
  padding-left: 1rem;
}

#nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#nav-bar ul li a {
  text-decoration: none;
  color: #333;
}

#nav-bar ul li a:hover {
  color: rgb(185, 66, 66);
  border-bottom: 2px solid #333;
}

.fa-paper-plane {
  color: rgb(15, 15, 129);
  transition: padding-left 2s ease-in-out;
  padding-right: 8rem;
}


#showcase {
  background: url('./img/yingchou-han-IJrIeCs3D4g-unsplash.jpg') no-repeat center center/cover;
  height: 100vh;
  color: rgb(250, 248, 252);
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
}

#showcase .showcase-content h1 {
  padding-bottom: 2rem;
}

#showcase .showcase-content p {
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  color: white;
  background: rgb(15, 15, 129);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 2rem 0 1rem 0;
  height: 3rem;
  transition: background 1s;
}

.btn:hover {
 cursor: pointer;
 background: rgb(63, 107, 226);
}

#about {
  background: #ddd;
}

#about .about-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

#about .about-container .about-us {
  margin: 2rem;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  height: fit-content;
}

#about .about-container .about-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}

#about .about-container .about-icons .icon {
  background: #fff;
  margin: 1rem;
  padding: 2rem 0 0 0;
  text-align: center;
  border-radius: 10px;
  height: max-content;
  transition: all 1s ease-in-out;
}

#about .about-container .about-icons .icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: plum;
  color: #333;
}

#about .about-container .about-icons .icon p {
  padding: 2rem 0 0 0;
}

.other-services {
  text-align: center;
  margin: 1rem;
  background: #ffe;
  border-radius: 10px;
  padding: 1rem;
}

.other-services h3 {
  font-size: 1.7rem;
  color: rgb(63, 107, 226);
}

.other-services p {
  padding: 0.5rem 0;
}

.about-country {
  text-align: center;
}

.about-country h3, h5 {
  font-size: 2rem;
  color: rgb(63, 107, 226);
}

.country-container {
  margin: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.country-container .country .country-word {
  text-align: center;
  padding: 1rem;
}

.country-container .country .country-word h3 {
  padding: 1rem;
}

.country-container img {
  height: 15rem;
  border-radius: 5px;
  transition: transform 1s ease-in-out;
}

.country-container img:hover {
  transform: scale(1.1);
}

#contact {
  display: flex;
  background: rgb(160, 180, 233);
}

#contact h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
}

#contact p {
  color: #333;
  padding-left: 0.75rem;
  text-align: center;
  font-size: 1.2rem;
}

#contact .map, #contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label{
display: block;
color: #333;
}

#contact .contact-form input, 
#contact .contact-form  textarea {
  width: 100%;
  padding: 0.5rem;
}

#faq {
  background: #5e5e88;
  color: #fff;
}

#faq a {
  color: #fff;
}

#faq h1 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  font-size: 3rem;
}

.box {
  width: 60%;
  height: 5rem;
  background: #303030 ;
  color: #fff;
  margin: 0.5rem auto;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 1.7rem;
  transition: background 0.5s ease-in-out;
}

.box:hover {
  cursor: pointer;
  background: #504f4f;
}

#faq p {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 4rem;
}

#faq input {
  display: inline-block;
  width: 30rem;
  height: 4rem;
  margin: 2rem 0 2rem 24rem;
  padding: 1rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
}

#faq button {
  display: inline-block;
  width: 16rem;
  height: 4rem;
  background: rgb(39, 79, 190);
  color: #fff;
  font-size: 1.5rem;
  border: 2px solid rgb(39, 79, 190);
  border-radius: 5px;
  transition: background 0.5s ease-in-out;
}

#faq button:hover {
  background: rgb(31, 80, 218);
  cursor: pointer;
}

#countries {
  margin: 2rem;
  padding: 2rem;
  text-align: center;
}

#countries p {
  font-size: 1.2rem;
  text-transform: uppercase;
}

#countries h3 {
  padding-top: 2rem;
  font-size: 2rem;
}


#countries .country-content .country-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
}

#countries img {
  width: 10rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
}

.item {
  position: relative;
  background: rgb(160, 180, 233);
  overflow: hidden;
}

.item::after {
  content:'';
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75) translateY(-75) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

.item:hover::after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.item:hover img {
  transform: scale(1.2);
}

.item:hover text {
  opacity: 1;
  transform: translateY(0);
}

.item img {
  height: auto;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  border-radius: 50%;
}

.item img::before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

.text img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}

.item text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
}

.item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 0 0;
}

.text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}

#content-5 {
  background: #000000;
  color: #7e7d7d;
  margin: 0.5rem 0 0 0;
}

#content-5 p {
  display: inline-block;
  padding: 4rem 0 0 14rem;
  font-size: 1.2rem;
}

#content-5 .p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#content-5 h4 {
  padding: 4rem 0 0 14rem;
  font-size: 1.2rem;
}

#content-5 .items {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 2rem auto 0 auto;
  font-size: 0.9rem;
}

a {
  color: #ddd;
}



